**__pycache__**
**build**
**egg-info**
*.pyc
venv/
*.idea/
*.so
*.pth
*.zip
*.pkl
*.bin
data/kitti/
data/kitti/
work_dirs/
output/
demo/
vis/
tools/plot/
demo_mayavi.py
occ_and_score.py
score_iou_t.jpg
score_iou.jpg
semscore_iou_t.jpg
semscore_iou.jpg
vis_ply.py
vis1.py
vis.py
tools/vis/
pcdet/models/detectors/pv_rcnn_dl.py
pcdet/models/detectors/pv_rcnn_ssl_child_v2.py
pcdet/models/detectors/pv_rcnn_ssl_child_v3.py
pcdet/models/detectors/pv_rcnn_ssl_child.py
pcdet/models/detectors/pv_rcnn_ssl_db_denseloss.py
pcdet/models/detectors/pv_rcnn_ssl_db_finalversion.py
pcdet/models/detectors/pv_rcnn_ssl_db_grad.py
pcdet/models/detectors/pv_rcnn_ssl_db_nms.py
pcdet/models/detectors/pv_rcnn_ssl_dbv2.py
pcdet/models/detectors/pv_rcnn_ssl_dbv3.py
pcdet/models/detectors/pv_rcnn_ssl_dbv4.py
pcdet/models/detectors/pv_rcnn_ssl_dl.py
pcdet/models/detectors/pv_rcnn_ssl_mask.py
pcdet/models/detectors/pv_rcnn_ssl_soft.py
pcdet/models/detectors/voxel_rcnn_ssl_child_v2.py